
/*--------------------------------------------------------------
# General
 #701030;
 #780A2F;
--------------------------------------------------------------*/
/* momentaneo */
/* #header{
  background: #b5afaf;
  padding: 15px 0;
}  */
/* momentaneo */

/* inicio en sitio para tienda */
button.swal2-confirm.swal2-styled {
  background-color: #701030!important;
  font-family: "Spectral", serif; 
}




/*  */
body {
  font-family: "Spectral", serif;
  font-size: 1rem;
  color: #353535;
}
a {
  color: #701030;
  text-decoration: none;
}
a:hover {
  color: #780A2F;
  text-decoration: none;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Spectral", sans-serif;
}

h5 {
  color: #fff; 
  padding-bottom: 15px;
}
p {
  /* font-size: 18px; */
  color:#575757;
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 20px;
  bottom: 30px;
  z-index: 996;
  background: #701030;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  line-height: 0;
}

@media (max-width: 991px) {
  .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 10px;
    bottom: 50px;
    z-index: 996;
    background: #701030;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    transition: all 0.4s;
  }
  .back-to-top i {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    line-height: 0;
  }
}

.back-to-top:hover {
  background: #701030;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 24px 0;
  background: #b5afaf;
}
 #header.header-transparent {
  background: transparent;
} 

#header.header-scrolled {
  background: rgba(55, 64, 85, 0.9);
  /* padding: 15px 0; */
}
#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0 10px;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
}
#header .logo a {
  color: #fff;
  display: none;
}
#header .logo img {
  max-height: 60px;
}
#header.header-scrolled .logo {
   display: block;
}

/** Desktop Navigation */
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  color: #fff;
  font-size: 21px;
  font-weight: 700;
  letter-spacing: 1px;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i,
.navbar a:focus i {
  font-size: 22px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #BB0F4B;
  font-weight: 700;
  font-size: 22px;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 22px;
  text-transform: none;
  color: #414c64;
}
.navbar .dropdown ul a i {
  font-size: 18px;
}

/** Mobile Navigation s*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(45, 53, 69, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px; 
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 21px;
  color: #414c64;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #BB0F4B;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 80vh;
  background: url("../img/hero8.jpg") top center;
  background-size: cover;
  position: relative;
}

#hero:before {
  content: "";
  background: rgba(45, 53, 69, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.hero {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero .fondo {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero:before {
  content: "";
  background-color: #c3aeb3;
  opacity: 30%;
  position: absolute; 
  inset: 0;
  z-index: 2;
}

.hero .container {
  position: relative;
  z-index: 3;
}
.imagen {
  display: flex;
  justify-content: flex-end;
}
.descrip{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.hero h2 {
  font-family: "Copperplate Gothic Bold" !important; 
  margin-top: 20%;
  text-align: left;
  letter-spacing: 3px;
  color: #fff; 
  font-size: 60px;
  font-weight: 700;
}

.hero p {
  margin: 10px 0 0 0;
  font-size: 28px;
  color:  #ffffff;
}
@media (max-width: 992px) {
.hero { 
  min-height: 50vh;
}
}
@media (max-width: 768px) {
  .hero { 
    min-height: 35vh;
  }
  .hero h2 {
    font-size: 50px;  
  }
  .hero p {
    font-size: 24px;
  }
}


#hero .container {
  text-align: center;
  padding-top: 30px;
}

#hero h1 {
  font-family: "Copperplate Gothic Bold" !important; 
  margin: 0;
  font-size: 100px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero h2 {
  color: #eee;
  margin: 340px 0 0 0;
  font-size: 25px;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 9px 35px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 40px;
  border: 2px solid #780A2F;
  color: #fff;
}

#hero .btn-get-started:hover {
  background: #701030;
}

@media (max-width: 1655px) {
  #hero {
    background-attachment: fixed;    
  } 
  #hero h2 {
    font-size: 24px;
    line-height: 26px;
    margin: 260px 0 0 0;
  }
}

@media (max-width: 1024px) {
  #hero {
    background-attachment: fixed;
  } 
  #hero h2 {
    font-size: 24px;
    line-height: 26px;
    margin: 260px 0 0 0;
  }
}

@media (max-width: 992px) {
  #hero .container {
    padding-top: 0;
  }
  #hero h2 {
    font-size: 24px;
    line-height: 26px;
    margin: 310px 0 0 0;
  }
}

@media (max-width: 768px) {
  #hero {
    height: 100vh;
  }
  #hero h1 {
    font-size: 50px;
    line-height: 50px;
  }
  #hero h2 {
    font-size: 24px;
    line-height: 26px;
    margin: 165px 0 0 0;
  }
}
@media (max-width: 500px) {
  #hero h1 {
    font-size: 90px;
    line-height: 90px;
  }

  #hero h2 {
    font-size: 24px;
    line-height: 26px;
    margin: 200px 0 0 0;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: #f7f8fa;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-weight: 700;
  font-size: 34px;
  color: #414c64;  
  text-transform:initial;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #701030;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
  /* font-size: 18px;
  color: #575757;; */
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background-color: #fafafc;
  min-height: 40px;
  margin-top: 82px;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 68px;
  }
}

.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}

@media (max-width: 992px) {
  .breadcrumbs h2 {
    margin: 0 0 10px 0;
  }
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
  padding: 15px 0;
  text-align: center;
}

.clients img {
  /* max-width: 45%; */
  transition: all 0.4s ease-in-out;
  display: inline-block;
  /* padding: 10px ; */
  filter: grayscale(100);
}

.clients img:hover {
  filter: none;
  transform: scale(1.15);
}

@media (max-width: 768px) {
  .clients img {
    max-width: 40%;
  }
}

/*--------------------------------------------------------------
# nosotros
--------------------------------------------------------------*/
.nosotros h3 {
  font-weight: 700;
  font-size: 34px;
  color: #414c64;
}

.nosotros h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
  color:#701030 ;  
}

.nosotros i {
  font-size: 48px;
  margin-top: 15px;
  color: #8b97b3;
}


/*--------------------------------------------------------------
# vinos carrito y compra  
--------------------------------------------------------------*/

/* 02/11/24 */
section#hero2 {
  padding: 0;
}

#header.header-carrito {
  background: transparent;
  /* background: rgba(55, 64, 85, 0.9); */
} 
#header.header-carrito.header-scrolled {
  background: rgba(55, 64, 85, 0.9);
  padding: 10px 0;
}
 #hero2 {
  padding-top: 70px;
} 

section#carrito-vinos {
  padding: 30px 0;
}

.bg-secondary { 
  background-color: #780A2F!important;
}
.btn .badge {
  position: relative;
  top: -20px;
  left: -20px;
}
#vinos h4.tit-card {
  font-family: 'Poppins';
  color: rgba(45, 53, 69, 0.9);
  font-size: 1.5rem;
  font-weight: 600;
}
.filtros {
  font-family: "Spectral";
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filtros h4 {
  margin-bottom: 15px;
}
.filtros h3 {
  color: #414c64;
  font-size: 1.5rem;
}
label.form-label {
  font-family: "Spectral";
  color: #414c64;
}
.filtros .form-select {
  margin-bottom: 10px;
  color: #414c64;
}
select#filtrar-bodega {
  font-family: "Spectral";
  color: #414c64;
}
select#ordenar-precios {
  font-family: "Spectral";
  color: #414c64;
}
.form-select:focus {
  border-color: #780A2F;
  box-shadow: 2px 2px 2px 0px rgba(120,10,47,0.75);
  -webkit-box-shadow: 2px 2px 2px 0px rgba(120,10,47,0.75);
  -moz-box-shadow: 2px 2px 2px 0px rgba(120,10,47,0.75);
}
.btn-comprar {
  display: flex;
  align-items: center;
}

.btn-comprar i {
  margin-right: 8px;
}

#vinos a.btn-comprar {
  background: #701030; 
  border: 0;
  padding: 5px 10px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
  margin: 10px;
}

#vinos a.btn-comprar:hover {
  background: #BB0F4B;
}

#vinos a.btn-agregar  {
  background: #BB0F4B;  
  border: 0;
  padding: 5px 10px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

#vinos a.btn-agregar.agregar:hover {
  background: #701030;
}


/* dentro de carrito.html */
.contenedor-principal {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.img-vinos{
  width: 100%;
  height: auto;
}
.resumen-compra {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 20px;
  border: 1px solid #414c64;
  text-align: center;
}
.tit-resumen{
  color:#414c64;
  font-weight: 600;
}
button.btn.btn-success.btn-sm {
  background-color: #576279;
  border-color: #303030;
}
button.btn.btn-danger.btn-sm {
  background-color: #414c64;
  border-color: #303030;
}
#finalizar-compra {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #701030;
  border-radius: 10px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
#finalizar-compra:hover {
  background-color: #ffffff; 
  color: #701030;
  border:1px solid #701030;
}

.resumen-compra {
  height: 300px; /* Altura fija que puedes ajustar según tus necesidades */
  position: sticky;
  top: 0;
  background-color: #f8f9fa; /* Fondo para diferenciar visualmente */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra opcional para un mejor diseño */
}

  





/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 20px rgba(65, 76, 100, 0.05);
  padding: 20px 0;
}

.contact .info-box i {
  font-size: 32px;
  color: #701030;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #780A2F;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
   margin-bottom: 0;
}

.contact .php-email-form {
  box-shadow: 0 0 20px rgba(65, 76, 100, 0.05);
  padding: 30px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #2e0714;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #9e0e3e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #9e0e3e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #701030;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
  background: #701030;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #BB0F4B;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #fff;
  font-size: 18px;
  background: rgba(55, 64, 85, 0.9);
}

#footer .footer-contact{
  text-align: left;
  padding-top: 40px;
}

#footer .footer-contact p { 
  line-height: 24px;
  margin-bottom: 0; 
  color: #fff;
}

#footer .footer-links {
  text-align: center;  
  padding-top: 40px;
}
#footer .footer-links p {
  color:#fff
}

#footer .social-links {
  text-align: center;  
  padding-top: 40px;
}

@media (max-width: 991px) {
  #footer .social-links {
    display: flex;       
    justify-content: center;
    align-items: center;  
    padding-top: 10px; 
  }  

  #footer .footer-contact {
    text-align: center;
    padding-top: 30px;    
    padding-bottom: 10px;   
  }
  #footer .copyright { 
    text-align: center;
    margin-top: 5px;
    padding-bottom: 12px; 
    font-size: 10px !important;  
  }
  #footer .footer-links {
    text-align: center;
    padding-top: 20px;
}
  #footer .social-links a {
    font-size: 24px !important;   
    width: 45px !important;
    height: 45px !important;
   
}
}

#footer .copyright { 
  text-align: center;
  margin-top: 5px;
  padding-bottom: 10px;  
  font-size: 14px;  
}

#footer .social-links a {
  font-size: 30px;
  display: inline-block;
  background: #fff;
  color: #5f6f92;
  line-height: 1.5;
  padding: 8px 0;
  margin-right: 5px;
  border-radius: 50%;
  text-align: center;
  width: 60px;
  height: 60px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #BB0F4B;
  color: #fff;
  text-decoration: none;
}

#footer .logo {
  font-size: 40px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 2px;  
}
#footer .logo img {
  max-height: 60px;
}


/* prueba */
.slider {
  margin-bottom: 30px;
  position: relative;
}
.slider .owl-item.active.center .slider-card {
  transform: scale(1.15);
  opacity: 1;
  background: rgb(55 64 85 / 50%); /* fallback for old browsers    #501030;   #780A2F; */
  background: -webkit-linear-gradient(to bottom, rgb(55 64 85 / 50%), rgb(55 64 85 / 50%)); 
  background: linear-gradient(to bottom, rgb(55 64 85 / 50%), rgb(55 64 85 / 50%)); 
}
.slider-card {
  background: #fff;
  padding: 0px 0px;
  margin: 45px 15px 50px 15px;
  border-radius: 5px;
  box-shadow: 0 15px 45px -15px rgb(0 0 0 / 73%);
  transform: scale(0.9);
  opacity: 0.5;
  transition: all 0.4s;
}
.slider-card img {
  border-radius: 5px 5px 10px 10px;
  padding-top: 20px;
}
.owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 25px);
  right: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-dots {
  text-align: center;
}
.owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: #ccc !important;
  margin-left: 3px;
  margin-right: 3px;
  outline: none;
}
.owl-dots .owl-dot.active {
  background: #701030 !important;
}

